# Copy this file to .env and fill in your actual values
# DO NOT commit .env to git (it contains your secrets)

DATABASE_URL=postgresql://postgres.ooccknyalgowtmfvjpij:YOUR_PASSWORD_HERE@aws-1-eu-central-1.pooler.supabase.com:6543/postgres
BIRDEYE_API_KEY=YOUR_BIRDEYE_API_KEY_HERE
